.button-container {
  position: absolute;
  bottom: 50px; /* Adjust based on layout */
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: D91656;
  color: white;
  transition: background 0.3s;
}

.button:hover {
  background: darkred;
}
